.unordered-list {
  display: grid;
  align-items: center;
  padding: 2px;
  margin: 0px;
  box-sizing: border-box;
}
.center {
  justify-items: center;
}
.left {
  justify-items: flex-start;
}
.right {
  justify-items: flex-end;
}
.fit-width {
  width: fit-content;
}
.parent-width {
  width: 100%;
}
.col-1 {
  grid-template-columns: 1fr;
}
.col-2 {
  grid-template-columns: 1fr 1fr;
}
.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-5 {
  grid-template-columns: repeat(5, 1fr);
}
