main {
  position: relative;
  left: 0px;
  top: 60px;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0px;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  main {
    top: 60px;
  }
}
@media screen and (max-width: 800px) {
  main {
    top: 50px;
  }
}
